html,
body {
    font-family: Arial, sans-serif;
}

#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* to show it above other content */
    z-index: 999;
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.pokedex-list__item {
    width: 95%;
    padding: 1rem 0;
    margin: .1rem 2.5%;
    border-style: none;
}

.modal-img {
    display: inline-block;
}